body {
  text-align: center;
  background-image: url("tricolour.jpg");
  background-repeat: no;
  background-size: 100%;
}
h1 {
  text-align: center;
  color: orange;
  font-size: 75px;
}
p {
  font-size: 30px;
  font-family: 'Vast Shadow', cursive;
}
